<section class="ui secondary purple inverted segment">
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange sign in"></i>Login credentials</label>
  </div>  
  <section class="ui segment">
    <form action="/accounts/authenticate" method="POST">
      <div class="field">
        <label> Username: </label>
        <input type="text" name="email">
      </div>  
      <div class="field">
        <label>  Password: </label>
        <input type="password" name="password">
      </div>
      <button class="ui positive submit button labeled icon"><i class="key icon"></i>Login</button>
    </form>
  </section>
</section>