<section class="ui secondary purple inverted segment">
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange user"></i>Profile details</label>
  </div>  

  <section class="ui raised segment">
    <div class="ui grid">
      <div class="twelve wide column">
        <table class="ui table segment">
          <thead>
            <tr>
              <th>Email</th>
              <th>Nationality</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>${user.email}</td>
              <td>${user.nationality}</td>
              <td>${user.age}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="four wide column">
        <div class="ui center aligned basic segment">
        *{*** This will break on small screen, not sure if I like 16 layout, 12 layout seamed to me bettter ***}*
        <a href="/myProfile/edit" class="ui green button labeled icon"><i class="edit sign icon"></i>Edit</a>
        </div>
      </div>
    </div>
  </section>
  
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange female"></i>Profile Image</label>
  </div>  
  <section class="ui raised form segment">
    <div class="ui medium image"><img src="/profile/getpicture/${user.id}"></div>
    <form action="/myProfile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">     
      <div class="ui field">
        <input type="file" name="picture">  </input> 
     </div>     
     <button class="ui blue submit button labeled icon"><i class="cloud upload icon"></i> Upload</button>       
    </form>        
  </section>
  
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange female"></i>Profile Thumbnail</label>
  </div>
  <section class="ui raised form segment">
    <div class="ui medium image"><img src="/profile/getthumbnail/${user.id}"></div>
    <form action="/myProfile/uploadthumbnail/${user.id}" method="post" enctype="multipart/form-data">     
      <div class="ui field">
        <input type="file" name="picture">  </input> 
     </div>     
     <button class="ui blue submit button labeled icon"><i class="cloud upload icon"></i> Upload</button>       
    </form>        
  </section>      
</section>  
