<section class="ui secondary purple inverted segment">
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange user"></i>Profile details</label>
  </div>  
  <section class="ui segment">
    #{if warn }
      <div class="ui error message">
        <div class="header" id="error_sound">Error inside the form data</div>
        <p>Please fill all fields (all are required)! Age needs to be in correct format. And email needs cointain at least the @ symbol. No duplicate emails (and emails are case insensitive).</p>
      </div>
    #{/if}
    
    #{if user}
      <form action="/myProfile/edit/update" method="POST">
    #{/if}#{else}
      <form action="/accounts/register" method="POST">
    #{/else}
    
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstName" value="#{if user}${user.firstName}#{/if}">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastName" value="#{if user}${user.lastName}#{/if}">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Nationality</label>
          <input placeholder="Nationality" type="text" name="nationality" value="#{if user}${user.nationality}#{/if}">
        </div>
        <div class="field">
          <label>Age</label>
          <input placeholder="Age" type="text" name="age" value="#{if user}${user.age}#{/if}">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email" value="#{if user}${user.email}#{/if}">
      </div>
      #{if user}
  
      *{**** in case i will have mechanism for changing passwords as well ****}*
      *{* The story requires just allow change SOME fields, not all. So I 
          decided not allow to change passwords. It feels for me waste of time.
          First we would require make overhaul of the password implementation.
          Not storing plain/text passwords into the database. Requiring some
          minimal strength of the password. Required double check for typos.
          And then the password change would have point. *}*
  
      #{/if}
      #{else}
        <div class="field">
          <label>Password</label>
          <input type="password" name="password">
        </div>
      #{/else}
            
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="showOnline" #{if user}#{if user.showOnline}checked#{/if}#{/if}#{else}checked#{/else}>
          <label>Show others when I'm online</label>
        </div>
      </div>
      
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="showBlog" #{if user}#{if user.showBlog}checked#{/if}#{/if}#{else}checked#{/else}>
          <label>Allow my blog to be public</label>
        </div>
      </div>
      
      #{if user}
        <button class="ui button green submit labeled icon"><i class="icon edit"></i> Update </button>
      #{/if}#{else}
        <button class="ui negative submit button labeled icon"><i class="keyboard icon"></i>Signup</button>
      #{/else}
     
    </form>
  </section>
</section>