<section class="ui secondary purple inverted segment">
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange users"></i>Blogs &nbsp; (${blogs.size()} blogs avaiable) </label>
  </div>  

  <section class="ui segment">
    <div class="ui list"> 
      #{list items:blogs, as:'user'}
        #{if user.showBlog}
          <div class="ui item">
            <img class="ui avatar #{if !user.online || !user.showOnline}disabled#{/if} image" src="/profile/getthumbnail/${user.id}">        
            <a href="/blogs/show/${user.id}">${user.firstName} ${user.lastName}</a> &nbsp; - &nbsp; 
            <a href="/blogs/showPost/${user.posts.getAt(user.posts.size()-1).id}">
              <i class="text file outline icon"></i> ${user.posts.getAt(user.posts.size()-1).title}
            </a> 
             - ${new Date(user.posts.getAt(user.posts.size()-1).time).since()} &nbsp;
            (${user.posts.getAt(user.posts.size()-1).comments.size()} comments) 
          </div>
        #{/if}
      #{/list}#{else}
        No blogs avaibale.
      #{/else}
    </div>
  </section>
</section>