<section class="ui secondary inverted purple segment">
  <div class="ui medium image">
    <label class="ui purple ribbon label"><i class="icon inverted circular orange smile"></i>Status</label>
  </div>
  <div class="ui fluid form segment">
    <form action="/myProfile/changestatus" method="POST">
      <div class="ui one field" id="statusText">
      <div class="field">
        <input type="text" name="statusText" value=" ${user.statusText}">
      </div>
      <div class="field" id="statusButton" style="display:none">
          <button class="ui button green submit labeled icon"><i class="icon edit"></i> Update </button>              
      </div>      
      </div>
    </form>
  </div>
</section>  