#{extends '_components/_main.html' /} 
#{set title:'Public Profile Page' /}

#{set activePage:'members' /}
#{include "_components/_menu.html" /}

<section class="ui tertiary purple inverted segment">
  <h1 class="ui header">
    <img class="ui avatar image" src="/profile/getthumbnail/${user.id}"> 
    ${user.firstName} ${user.lastName}'s profile
  </h1>
</section>

<section class="ui  two column grid segment">
  <div class="row">
    <div class="column">
      #{include "_components/profilesummary.html" /} 
    </div>
    <div class="column">
      #{include "_components/comments.html" /} 
    </div>
  </div>
</section>    
